/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-enable declaration-block-no-redundant-longhand-properties */
.app-lotus .django-ckeditor-widget {
  flex: auto 1 !important;
  width: 100% !important;
  max-width: 1100px !important;
}

.lotus-category-tree .tree {
  --spacing: 1.5rem;
  --radius: 10px;
  --summary-x-padding: 0.8rem;
  --summary-y-padding: 0.5rem;
  --active-bullet-bg-color: #696;
  --inactive-bullet-bg-color: #dddddd;
  --structure-line-color: #dddddd;
  margin: 0 !important;
  padding: 0 !important;
}
.lotus-category-tree .tree .item {
  margin: -1px 0 0 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
  display: block !important;
  position: relative !important;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px) !important;
}
.lotus-category-tree .tree .item::after,
.lotus-category-tree .tree .item .summary::before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: calc(var(--spacing) / 2 - var(--radius) + var(--summary-y-padding)) !important;
  left: calc(var(--spacing) - var(--radius) - 1px) !important;
  width: calc(2 * var(--radius)) !important;
  height: calc(2 * var(--radius)) !important;
  border-radius: 50% !important;
  background: var(--inactive-bullet-bg-color) !important;
}
.lotus-category-tree .tree .item .details {
  margin: -1px 0 0 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}
.lotus-category-tree .tree .item .details .summary {
  display: flex !important;
  margin: 0 !important;
  border: 1px solid var(--border-color) !important;
  background-color: var(--darkened-bg) !important;
}
.lotus-category-tree .tree .item .details .summary::before {
  z-index: 1 !important;
  background: var(--active-bullet-bg-color) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAUCAYAAAD/Rn+7AAAAZUlEQVRIS+2TOwoAMAhD9f6H7mfoItJaAqKiqzSmT8MUvDi4P2qD6IZqEByrNglehRL5fW8a2AYvWHMSPCt93Yv1JhE9lSAiqH0K0cu5YkmhU1wuxa/0evZNIfE0JGe1QZR+eIIT3zIwFfN1vWYAAAAASUVORK5CYII=) 0 0 !important;
}
.lotus-category-tree .tree .item .details .summary a {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: var(--summary-y-padding) var(--summary-y-padding) !important;
}
.lotus-category-tree .tree .item .details .summary .language {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5rem;
  max-width: 5rem;
  padding: var(--summary-y-padding) var(--summary-y-padding) !important;
  border-left: 1px solid var(--border-color) !important;
  text-align: center !important;
}
.lotus-category-tree .tree .item .details .summary .original {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5rem;
  max-width: 5rem;
  padding: var(--summary-y-padding) var(--summary-y-padding) !important;
  border-left: 1px solid var(--border-color) !important;
  text-align: left !important;
}
.lotus-category-tree .tree .item .details .nodes {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-left: calc(var(--radius) - var(--spacing)) !important;
  padding-left: 0 !important;
}
.lotus-category-tree .tree .item .details .nodes .item {
  border-left: 2px solid var(--structure-line-color) !important;
}
.lotus-category-tree .tree .item .details .nodes .item:last-child {
  border-color: transparent !important;
}
.lotus-category-tree .tree .item .details .nodes .item:before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: calc(var(--spacing) / -2 + 6px) !important;
  left: -2px !important;
  width: calc(var(--spacing) + 2px) !important;
  height: calc(var(--spacing) + 1px) !important;
  border: solid var(--structure-line-color) !important;
  border-width: 0 0 2px 2px !important;
}
.lotus-category-tree .tree .item .details[open] > .summary::before {
  background-position: calc(-2 * var(--radius)) 0 !important;
}
.lotus-category-tree .tree .item .details[open] > .nodes {
  display: block !important;
}
.lotus-category-tree .tree .item.no-children .summary::before {
  display: none !important;
}

/*# sourceMappingURL=admin.css.map */
